<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->


    <meta charset="utf-8" />
    <title>Digi Trac - Remote Inventory Tracker</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- App css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />

    <script src="/js/vue/vue.js"></script>
  </head>

  <body class="authentication-bg authentication-bg-pattern">        fn(req, res, next);

    <%- body %>
    
      <!--SCRIPTS END-->
      <footer class="footer footer-alt">
        2019 &copy;  <a href="" class="text-white-50">DigiTrac</a> 
        </footer>

        <!-- Vendor js -->
        <script src="/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="/js/app.min.js"></script>
  </body>
</html>
