<div class="" id="app2">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">

                <h4 class="header-title">Select location </h4>
               

                <div style="width: 90%;margin-left: auto;margin-right: auto;">
                    <div class="row">
                        <div class="col-mdx-4 location-box">
                            <a href="/app/report">
                                <span class="location-link">
                                    Kano
                                </span>
                            </a>
                        </div>
                        <div class="col-mdx-4 location-box">
                            <a href="/app/report">
                                <span class="location-link">
                                    Abuja
                                </span>
                            </a>
                        </div>
                        <div class="col-mdx-4 location-box">
                            <a href="/app/report">
                                <span class="location-link">
                                    Lagos
                                </span>
                            </a>
                        </div>
                        <div class="col-mdx-4 location-box">
                            <a href="/app/report">
                                <span class="location-link">
                                    Port-Harcourt
                                </span>
                            </a>
                        </div>
                        <div class="col-mdx-4 location-box">
                            <a href="/app/report">
                                <span class="location-link">
                                    Anambra
                                </span>
                            </a>
                        </div>
                        <div class="col-mdx-4 location-box">
                            <a href="/app/report">
                                <span class="location-link">
                                    Ekiti
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
</div>

<script src="/js/vue/vue-router.js"></script>
<script>
    // import VueRouter from 'vue-router'
    var app = new Vue({
        el: '#app2',
        // router,
        data: {
            inventory:[],
            products: [],
            store: [],
            filter : {
                product : "all",
                store: "",
                from: "",
                to:""            }
        },
        components: {
            vuejsDatepicker
        },
        async asyncData ({}) {
            // let allTags  = await axios.get('/api/tags/')
            // console.log("allTags")
            // return { tags: allTags }
        },
        mounted: async function(){

            // console.log(" >>>  ", this.$route.query)
            let params = new URL(window.location).searchParams;
            master_product = params.get("product")

            inventory  = await axios.get('/api/inventory/details/?product='+master_product)
            this.inventory = inventory.data;
            console.log(inventory.data)
            //tags
            products  = await axios.get('/api/tags/')
            // console.log(products)
           
            product_names = []
            products.data.forEach(function(item, index) {
                product_names.push(item.product_name)
            });

        
            result = new Set(product_names)
            // console.log(result)


            // this.products = products.data;

            this.products = result;



  

        },
        filters: {
            // convert timestamp to UTC format
            timeStampConverter:  function (text) {
                const utc = moment.utc(new Date(text));
                return moment(utc).format("MMM-DD-YYYY hh:mm:ss A + UTC");
            }
        },
        methods: {
            reverseMessage:  async function () {
                this.message = this.message.split('').reverse().join('')
            },
            getTagByTagNumber(tag){
                var res = _.find(this.products, function(o) { return o.tag_number == tag; });
                if(!res) return tag
                return res.product_name
            },
            filterData: async function(){
               
                if(this.filter.from !== ""){
                    this.filter.from = moment(this.filter.from).unix() * 1000;
                }

                if(this.filter.to !== ""){
                    this.filter.to = moment(this.filter.to).unix() * 1000;
                }
                
                if(this.filter.from > this.filter.to){
                    alert('Duration to must be greater than from')
                    return;
                }

                // pull inventory record
                res = await axios.post('/api/inventory/filter', this.filter)
                
                //update inventory record
                this.inventory = res.data
                
            }
        
        }
    })

</script>
<style>
    .location-box{
        height: 200px;
        width: 30%;
        float: left;
        margin-left: 25px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 8%;
        border: 1px solid black;
    }

    .location-link {
        font-size: 50px;
        font-weight: bolder;
    }
</style>